main #projects {
    height: auto;
    overflow: hidden;
}

main #projects h2 {
    font-size: 2rem;
    text-align: center;
    padding: 5rem 0 0 0;
    margin: 0;
}

main #projects .projects-content {
    width: 500%;
    height: auto;
    display: flex;
    position: relative;
}

main #projects .projects-content input {
    display: none;
}

main #projects .projects-content .slide-box {
    text-align: center;
    width: calc(33.33% - 2rem);
    height: auto;
    transition: 1s;
    margin: 1rem;
}

main #projects .projects-content .slide-box img {
    height: 30vh;
    width: 90vw;
}

main #projects .projects-content .slide-box .project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main #projects .projects-content .slide-box .project-text p {
    margin: 0 0 1rem 0;
    text-align: justify;
}

main #projects .projects-content .manual-nav, .auto-nav {
    position: absolute;
    bottom: 0;
    width: 20%;
    display: flex;
    justify-content: center;
}

main #projects .projects-content .manual-nav label, .auto-nav div {
    border: 1px solid white;
    border-radius: 50%;
    padding: .5rem;
    margin: .25rem;
    cursor: pointer;
    transition: 0.4s;
}

main #projects .projects-content .manual-nav label:hover {
    background-color: rgb(68, 34, 141);
}

main #projects .projects-content 
#radio-btn1:checked ~ .auto-nav div:nth-child(1), 
#radio-btn2:checked ~ .auto-nav div:nth-child(2), 
#radio-btn3:checked ~ .auto-nav div:nth-child(3) {
    background-color: rgb(68, 34, 141);
}

main #projects .projects-content #radio-btn1:checked ~ .slide-box {
    transform: translateX(0);
}

main #projects .projects-content #radio-btn2:checked ~ .slide-box {
    transform: translateX(-100vw);
}

main #projects .projects-content #radio-btn3:checked ~ .slide-box {
    transform: translateX(-200vw);
}

main #projects .projects-content #radio-btn3:checked ~ .slide-box {
    transform: translateX(-300vw);
}

main #projects .projects-content #radio-btn3:checked ~ .slide-box {
    transform: translateX(-400vw);
}

@media (min-width: 768px) {
    main #projects .projects-content .slide-box img {
        height: 36vh;
        width: 60vh;
    }

    main #projects .projects-content .slide-box .project-text p {
        max-width: 50%;
    }
}